services:
  mysql:
    image: 'mysql:8.0'
    environment:
      - 'MYSQL_DATABASE=figurama_db'
      - 'MYSQL_ROOT_PASSWORD=root123'
      - 'MYSQL_USER=figurama'
      - 'MYSQL_PASSWORD=figurama123'
    ports:
      - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
