.main {
    text-align: center;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-image{
    max-width: 900px;
    width: 100%;
    margin: 0 auto 40px;
    position: relative;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    
}

.main-text h1 {
    font-size: 48px;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 30px;
    position:relative;
    text-align: center;
    top: -280px;
}

.novidades {
    padding: 60px 50px;
    position:relative;
    top: -220px;
}

.novidades h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.popular{
    padding: 60px 50px;
    position:relative;
    top: -220px;
}

.popular h2{
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}