<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header Logado</title>
</head>
<body>

<header th:fragment="logado" class="header-logged">
    <div class="contain-wrapper">
        <a href="pages/dashboard.html">
            <img class="logo" src="img/Logo.png" alt="Logo Figurama">
        </a>

        <nav class="nav-logged">
            <div class="user-profile">
                <img class="profile-icon" src="icons/Profile-icon.png" alt="Perfil">
                <span id="header-user-name">Usuário</span>
            </div>

            <a href="pages/login.html" class="nav-link logout" id="logoutBtn">Sair</a>

            <div class="search-box">
                <input type="text" placeholder="Pesquisar">
                <button class="search-btn">🔍</button>
            </div>

            <a href="pages/criando_colecao.html" class="btn-create">Criar +</a>
        </nav>
    </div>
</header>

</body>
</html>