.search-box {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 8px 15px;
    border-radius: 5px;
}

.search-box input {
    background: none;
    border: none;
    color: white;
    outline: none;
    width: 150px;
}

.search-box input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.register-container input,
.login-area input {
    background-color: #403f4c;
    width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    color: white;
}

.terms,
.remember {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    margin-bottom: 10px;
}

.remember {
    justify-content: flex-start;
    margin-bottom: 13px;
}

.forgot {
    display: block;
    margin-top: 15px;
    font-size: 15px;
}