<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes Action Figure</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/components/cards.css}">
    <link rel="stylesheet" th:href="@{/css/components/buttons.css}">
    <link rel="stylesheet" th:href="@{/css/components/forms.css}">
    <link rel="stylesheet" th:href="@{/css/pages/action_figure.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header></header>

    <main class="figure-page">
        <section class="figure-container">
            <div class="figure-image-box">
                <div class="image-placeholder">
                    <img id="main-figure-img" src="uploads/Vampira-X-men-97.jpg" alt="Vampira-X-men-97">
                </div>
                <button class="btn-add">Adicionar</button>
            </div>

            <div class="figure-info">
                <div class="info-header">
                    <h1 id="figure-name"></h1>
                    <div class="release-date">
                        Lançada em <span id="figure-date"></span>
                    </div>
                </div>

                <p class="figure-subtitle">de franquia <span id="franchise-name"></span></p>

                <hr class="info-divider">

                <p class="description" id="figure-description"></p>

                <hr class="info-divider">

                <div class="category-area">
                    <p>Categorias</p>
                    <div class="tags-container" id="category-tags">

                    </div>
                </div>
            </div>
        </section>

        <section class="section-block">
            <p class="section-title">Da mesma franquia</p>
            <hr class="section-divider">
            <div class="cards-grid-row" id="franchise-figures-grid">
            
            </div>
        </section>

        <section class="section-block">
            <p class="section-title">Figuras relacionadas</p>
            <hr class="section-divider">
            <div class="cards-grid-row" id="related-figures-grid">

            </div>
        </section>
    </main>

    <footer></footer>

    <script src="../js/config.js"></script>
    <script src="../js/api.js"></script>
    <script src="../js/auth.js"></script>
    <!-- O script específico da página vem por último -->
</body>
</html>