<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criando uma coleção - Figurama</title>
    
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/components/cards.css}">
    <link rel="stylesheet" th:href="@{/css/components/buttons.css}">
    <link rel="stylesheet" th:href="@{/css/components/forms.css}">
    <link rel="stylesheet" th:href="@{/css/pages/criando_colecao.css}">
</head>
<body>
    <header></header>

    <main>
    <h1>Criar Nova Coleção</h1>
    <input type="text" id="nome-colecao" placeholder="Título da Coleção">
    <textarea id="descricao-colecao" placeholder="Descrição"></textarea>

    <div class="search-area">
        <h3>Adicione Action Figures</h3>
        <input type="text" id="input-pesquisa-figure" placeholder="Pesquisar figura no catálogo...">
        <div id="resultados-pesquisa"></div> <!-- Aqui aparecem os resultados da busca -->
    </div>

    <div class="selected-area">
        <h3>Figuras na Coleção</h3>
        <div id="lista-selecionadas"></div> <!-- Aqui aparecem as selecionadas -->
    </div>

    <button id="btn-salvar-colecao" disabled>Finalizar e Criar Coleção</button>
</main>

    <footer></footer>
    
    <script src="../js/config.js"></script>
<script src="../js/api.js"></script>
<script src="../js/auth.js"></script>
<!-- O script específico da página vem por último -->
</body>
</html>