<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer>
    <p>Sobre</p>
    <p>Contato</p>
    <p>Ajuda</p>
    <p>Termos</p>

    <p class="footer-texto">© 2024 Figurama. Todos os direitos reservados.</p>

    <div class="redes-sociais">
        <span class="icone-instagram"></span>
        <span class="icone-youtube"></span>
        <span class="icone-twitter"></span>
        <span class="icone-discord"></span>
    </div>
</footer>

</body>
</html>