<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer class="main-footer">
    <div class="container-wrapper">
        <nav class="footer-nav">
            <a href="#">Sobre</a>
            <a href="#">Contato</a>
            <a href="#">Ajuda</a>
            <a href="#">Termos</a>
        </nav>

        <div class="footer-copy">
            <span>© Figurama. Projeto integrador</span>
        </div>

        <div class="footer-social">
            <a href="#"><img src="../icons/Instagram-icon.png" alt="Instagram"></a>
            <a href="#"><img src="../icons/Youtube-Icon.png" alt="Youtube"></a>
            <a href="#"><img src="../icons/X-Icon.png" alt="X"></a>
            <a href="#"><img src="../icons/Discord-Icon.png" alt="Discord"></a>
        </div>
    </div>
</footer>

</body>
</html>