<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="header">
    <div class="header-container">
        <div class="logo">
            <image></image>
        </div>
    </div>


    <nav class="menu">
        <div class="usuario">
            <span class="icone-usuario">//vai ficar aqui o icone</span>
            <span class="nome-usuario">//aqui pega do banco</span>
        </div>

        <a href="" class="colecao-link">Coleção</a>
    </nav>

    <div class="acoes-menu">
        <div class="caixa-pesquisa">
            <input type="text" placeholder="Pesquisar">
            <span class="icone-pesquisa"></span>
        </div>

        <button class="btn-add">Adicionar +</button>
    </div>

</header>




</body>
</html>