<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="logado" class="header-logged">
    <div class="contain-wrapper">
        <a href="dashboard.html">
            <img class="logo" src="../images/Logo.png" alt="Logo Figurama">
        </a>

        <nav class="nav-logged">
            <div class="user-profile">
                <img class="profile-icon" th:src="@{/icons/Profile-icon.png" alt="Descrição da imagem">
                <span id="header-user-name"></span>
            </div>

            <a href="logout.php" class="nav-link logout">Sair</a>

            <div class="search-box">
                <input type="text" placeholder="Pesquisar">
                <button class="search-btn">🔍</button>
            </div>

            <button class="btn-create" onclick="window.location.href='../pages/criar_colecao.html'">Criar +</button>
        </nav>
    </div>
</header>
</body>
</html>