<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suporte</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header class="header">
        <div class="header-container">

            <div class="logo">
                <a href="index.html">
                    <img src="images/logo.png" alt="Logo" width="120">
                </a>
            </div>

            <nav class="menu">
                <div class="usuario">
                    <span class="icone-usuario">👤</span> 
                    <span class="nome-usuario">Jardel Alves</span>
                </div>

                <a href="#" class="colecao-link">Coleção</a>
            </nav>

            <div class="acoes-menu">
                <div class="caixa-pesquisa">
                    <input type="text" placeholder="Pesquisar">
                    <span class="icone-pesquisa">🔍</span>
                </div>

                <button class="btn-add">Adicionar +</button>
            </div>

        </div>
    </header>

    <h1>Nos contate</h1>

    <p>Nome</p>
    <input type="text">

    <p>Email</p>
    <input type="email">
    
    <p>O que há na sua mente?</p>
    <textarea name="" id="" cols="60" rows="15"></textarea>

    <footer class="footer">
        <div class="footer-container">
            <div class="texto-info">
                <p>Sobre</p>
                <p href="support.html">Contato</p>
                <p>Ajuda</p>
                <p>Termos</p>
            </div>

            <p class="footer-texto">© 2024 Figurama. Todos os direitos reservados.</p>

            <div class="redes-sociais">
                <span class="icone-instagram"></span>
                <span class="icone-youtube"></span>
                <span class="icone-twitter"></span>
                <span class="icone-discord"></span>
            </div>
        </div>
        
    </footer>
</body>
</html>