.header{
background-color: #711D93;
height: 152px;
display: flex;
align-items: center;
}

.footer{

}

body {
    margin: 0;
    padding: 0;
}

.Home-Page{
    background-color: #323044;
    width: 100%;
    height: 2653px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.Deadpool-Figurama{ 
    position: absolute;
    left: 165px;
    top: 0px;

}