<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Figurama</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/pages/index.css">
  <link rel="stylesheet" href="../static/css/components/buttons.css">
  <link rel="stylesheet" href="../static/css/components/cards.css">
  <link rel="stylesheet" href="../static/css/components/forms.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header">
        <div class="logo">
            <img src="../templates/img/Logo.png" alt="Logo" width="120">
        </div>
        <nav>
            <a href="../templates/pages/login.html" id="loginBtn">Fazer login</a>
            <a href="../templates/pages/register.html" id="registerBtn">Registrar</a>
            <a href="#" id="exploreBtn">Explorar</a>
            <div class="search-box">
                <input type="text" placeholder="Pesquisar">
                <span>🔍</span>
            </div>
        </nav>
    </header>

    <section class="main">
        <div class="main-image">
            <img src="../templates/img/Deadpool-Figurama.jpg" alt="Deadpool Figurama">
        </div>
        <div class="main-text">
            <h1>
                Crie uma coleção.<br>
                Adicione as Figures que possui.<br>
                Compartilhe com seus amigos.
            </h1>
            <a href="../templates/pages/register.html">
                <button class="cta-btn" id="startBtn">Comece agora - é de graça</button>
            </a>
        </div>
    </section>

    <section class="novidades">
        <h2>Novidades</h2>
        <div class="cards-grid" id="novidadesGrid">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
    </section>
    <section class="popular">
        <h2>Populares</h2>
        <div class="cards-grid" id="popularGrid">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
    </section>

    <script src="../static/js/script.js"></script>
    <script src="../../static/js/config.js"></script>
    <script src="../../static/js/api.js"></script>
</body>
</html>
