<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suporte - Figurama</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header class="header"></header>

    <h1>Nos contate</h1>

    <p>Nome</p>
    <input type="text">

    <p>Email</p>
    <input type="email">
    
    <p>O que há na sua mente?</p>
    <textarea name="" id="" cols="60" rows="15"></textarea>

    <footer></footer>

    <script th:src="@{/js/config.js}"></script>
    <script th:src="@{/js/api.js}"></script>
    <script th:src="@{/js/auth.js}"></script>
    <script th:src="@{/js/support.js}"></script>
</body>
</html>
