.btn-primary {
    background: #c77dff;
    border: none;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #a35be0;
}

.btn-add {
    background: #c77dff;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}

.btn-add:hover{
    background: #af52f7;
}

.cta-btn {
    background: linear-gradient(135deg, #e879f9, #c026d3);
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 10px 30px rgba(232, 121, 249, 0.3);
    position:relative;
    top: -220px;
}

.cta-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 40px rgba(232, 121, 249, 0.5);
}

.btn-register,
.btn-login {
    width: 400px;
    padding: 10px;
    background: #c77dff;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.btn-register {
    margin-bottom: 12px;
}